
.header{
    height: 55px;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(231, 229, 229, 0.849);

}

.leftsec{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}
.midsec{
    flex: 1;
    margin-right: 35px;
    margin-left: 70px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.see{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-color: rgb(147, 143, 143);
    border-radius: 3px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
    width: 0;
}
.see::placeholder{
    font-family: Roboto, arial;
    font-size: 16px;

}
.search{
    height: 39px;
    width: 66px;
    background-color: rgb(239, 237, 237);
    border-width: 1px;
    border-style: solid;
    border-color:  rgb(147, 143, 143);
    margin-left: -1px;
    margin-right: 10px;
    
}

.search,
.vsearch,
.create
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .tooltip,
.vsearch .tooltip,
.create .tooltip
{
    font-family: roboto, arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition:opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

}
.search:hover .tooltip,
.vsearch:hover .tooltip, 
.create:hover .tooltip{
opacity: 1;
}

.sicon{
    height: 20px;

}
.vsearch{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(246, 245, 245);
}
.vsicon{
    height: 24px;
}
.rightsec{
    width: 182px;
    margin-right: 20px;
    margin-left: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload,
.youtube-apps,
.notifications{
    height: 30px;
}

.noteicon{
    position: relative;
}
.notecount{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: red;
    color: white;
    font-family: roboto, arial;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;

}
.my-channel{
    height: 32px;
    border-radius: 16px;
}

.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 50px;
    background-color: rgb(255, 255, 255);
    width: 65px;
    z-index: 200;
    padding-top: 5px;
}
.sidelink{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidelink:hover{
    background-color: rgba(189, 189, 189, 0.454);
}
.sidebar img{
    height: 24px;
    margin-bottom: 2px;
}
.sidelink div{
    font-family: Roboto, arial;
    font-size: 9.8px;
}