
        .pic{
            width: 100%; 
            border-radius: 10px;

        }

        .yt1{
            margin-top: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 12px;
        }
        .yt2,
        .yt3{
            font-size: 13px;
            color: rgb(96, 96, 96);
        }
        .yt2{
            margin-bottom: 4px;
        }
        .profile{
            width: 40px;
            border-radius: 50px;
            cursor: pointer;

        }
        .thumb{
            margin-bottom: 15px;
            position: relative;
        }
         .vidingrid{
            display: grid;
            grid-template-columns: 50px 1fr;
        }
        .vidgrid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }

        @media (max-width: 750px) {
            .vidgrid{
                 grid-template-columns: 1fr 1fr;
            }
        }

        @media (min-width: 1000px) {
            .vidgrid{
                 grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        @media (min-width: 751px) and (max-width: 999px) {
            .vidgrid{
                 grid-template-columns: 1fr 1fr;
            }
        }

        .vidtime{
            font-family: roboto, arial;
            font-size: 12px;
            font-weight: 500;
            padding: 4px;
            border-radius: 2px;
            background-color:black;
            color: white;
            position: absolute;
            bottom: 10px;
            right: 8px;
        }